.calculator {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  max-width: 347px;
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: .5em;
  margin-top: 1em;
}